@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label class="form-label" asp-for=CurrentPassword>Current Password</label>
        <input type="password" class="form-control" asp-for=CurrentPassword />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=NewPassword>New Password</label>
        <input type="password" class="form-control" asp-for=NewPassword />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=ConfirmNewPassword>Confirm New Password</label>
        <input type="password" class="form-control" asp-for=ConfirmNewPassword />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>