@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <h4 class="text-center">CAPTCHA (find words in rows or columns of the matrix)</h4>
    <div class="mb-3">
        @if (ViewBag.CaptchaGrid is char[,] grid)
        {
            <div>
                @for (var r = 0; r < grid.GetLength(0); r++)
                {
                    <div class="text-center d-flex justify-content-center">
                        @for (var c = 0; c < grid.GetLength(1); c++)
                        {
                            <div class="fw-bold d-inline-block border-1 border" style="width:2rem;height:2rem;padding:.25rem;">@grid[r, c]</div>
                        }
                    </div>
                }
            </div>
        }
        else
        {
            <div class="text-muted">Captcha grid unavailable.</div>
        }
    </div>

    <input type="hidden" asp-for="CaptchaEncryptedSeed" value="@ViewBag.CaptchaEncryptedSeed" />
    
    <div class="mb-3">
        <label class="form-label" asp-for=CaptchaResult>Found words (minimum 3, separated by new line)</label>
        <textarea class="form-control" asp-for=CaptchaResult></textarea>
        <span asp-validation-for="CaptchaResult" class="text-danger"></span>
    </div>

    <hr />

    <div class="mb-3">
        <label class="form-label" asp-for=Username>Username</label>
        <input class="form-control" asp-for=Username />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=Password>Password</label>
        <input type="password" class="form-control" asp-for=Password autocomplete="off" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label" asp-for=ConfirmPassword>Confirm Password</label>
        <input type="password" class="form-control" asp-for=ConfirmPassword autocomplete="off" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>