@{
    ViewData["Title"] = "User Reference";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to the CyberSecurity application!</p>
<p>This application is a project for the discipline "Software and data security"</p>
<p>The project is made by Yurchuk Roman</p>
